.text-slide-box{
  background-color: #1b2a49;
  color:white;
  text-align: left;
}
a{
  color:white;
}
.nav-custom-color{
    background-color: #1b2a49;
}
.container-box{
  background-color: #1b2a49;
}
.Slide-head-text{
  color: #f7c32a;
}

.arrow-yellow{
  color: #f7c32a;
}

@media (max-width: 767.98px) {
  .Store-logo{
    width: 100px;
  }

}

@media (max-width: 1199.98px) {
  .Store-logo{
    width: 120px;
  }
}
