<!-- Section Two: About Us -->

  <div class="full-width">
  <div class="container" id="aboutus">
    <div class="row">
      <div class="col-sm-12 section-header">
        <h2>Blog</h2>
      </div>
    </div>
     <div class="row section-bottom">
        <div class="col-sm-7">
          <img src="assets/img/perspective.png" alt="Hand" class="feature-image" *ngIf="isCompany">
          <img src="assets/Images/Ipad.png" alt="Ipad" class="feature-image" *ngIf="!isCompany">
        </div>
        <div class="col-sm-5">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestiblum lao reet nunc at solli citudin. Mae cenas id mi portt itor, malesuada leo id, sollicitudin erat. Integer pulvinar viverra laoreet. Morbi a sapien malesua, dignissim justo vitae, vehicula libero. Fusce nec arcu non ipsum malesuad aliquam. Integer euex rhoncus, auctor elit quis, laoreet augue. Vivamus id arcu sit amet ex viverra pellentesque vel in diam.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestiblum lao reet nunc at solli citudin. Mae cenas id mi portt itor, malesuada leo id, sollicitudin erat. Integer pulvinar viverra laoreet. Morbi a sapien malesua, dignissim justo vitae, vehicula libero.</p>
        </div>
      </div>
  </div>
</div>
